extends ../layouts/default

block content
  .container
    // Header
    include header.jade
    
    // Body
    - for (var i = 0; i < list.length; i+=3) {
      .row.demo-row
        - for (var j = 0; j < 3 && i + j < list.length; j++) {  
          .col-xs-4
            a(href="#{repodir}/sources/#{list[i + j].dir}")
              div
                img(src="#{reporaw}/sources/#{list[i + j].dir}/result.jpg" width="100%")
                .tutorial.index Tutorial #{i + j}
                .tutorial.title #{list[i + j].title}
        - }
    - }
    
